@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');


/*       */
/* Basic */
/*       */

body {
    font-family: 'Inconsolata', monospace;
    background-color: #1a1a1a;
    padding: 0;
    margin: 0;
}

.background-eff {
    width: 100%;
    height: 110vh;
    border-radius: 1vw;
    background: radial-gradient(50% 50% at 50% 50%, rgb(245 85 79) 0%, rgb(26 26 26) 100%);
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.25;
    animation: 0.3s ease 0s 1 normal none running nyDPA;
    transform: translateY(-80vh);
    z-index: -1;
}

.background-eff2 {
    width: 70%;
    height: 55vh;
    border-radius: 1vw;
    background: radial-gradient(50% 50% at 50% 50%, rgb(245 85 79 / 65%) 0%, rgb(26 26 26) 100%);
    position: absolute;
    top: 5vh;
    left: 30vh;
    opacity: 0.15;
    animation: 0.3s ease 0s 1 normal none running nyDPA;
    transform: translateY(20vh);
    z-index: -1;
}

ol, ul {
    list-style: none;
}

.headerli {
    display: inline;
}

a {
    text-decoration: none;
    color: #f5554f;
}

a:hover {
    text-decoration: none;
    color: #f53a33;
}

h1, h2, h3, h4, h5, h6, p {
    color: #e6e6e6 !important;
}

textarea {
    height: 300px !important;
    background-color: #1f1f1f !important;
    border-color: #1f1f1f !important;
    color: #e8e8e8 !important;
}

input {
    background-color: #1f1f1f !important;
    border-color: #1f1f1f !important;
    color: #e8e8e8 !important;
}

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.text-center {
    text-align: center !important;
}

.text-muted {
    color: #b0b0b0!important;
}


/*        */
/* Navbar */
/*        */

.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 2.5em;
    z-index: 10;
}

.navbar-module {
    margin: 0;
}

.navbar-module ul .headerli a, .navbar-module ul .headerli a svg {
    font-weight: 700;
    font-size: 125%;
    color: #f5554f;
}

.navbar-module ul:first-child a, .navbar-module ul:first-child a svg {
    padding-left: 0;
}

.navbar-module ul .headerli, .navbar-module ul .headerli a svg {
    display: inline;
}

.navbar-item {
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px;
    padding: .3em .8em;
    border: 2px solid transparent;
    border-radius: 6px;
    font-weight: 700;
    font-size: 22.5px;
}

.navbar-socials {
    margin: 0;
}

/*        */
/*  Main  */
/*        */

.intro {
    text-align: center;
    padding: 6em 0;
}

main {
    z-index: 10;
}

.intro-header {
    font-size: 3.5em;
    font-weight: 700;
    color: #101010;
    margin-bottom: .3em;
}

.intro-description {
    font-size: 2em;
    font-weight: lighter;
    margin-top: .3em;
    margin-bottom: .8em;
}

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.about-text {
    flex: 70% 1;
    margin-top: 30px;
    font-size: 18px;
}

.headshot {
    width: 80%;
    flex-shrink: 0;
    margin: 20px;
    border: calc(8px + 0.2vw) solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-size: cover;
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25);
}

.headshot-3 {
    border-radius: 50% 10%;
    background-image: url(''),
    linear-gradient(to bottom left, #f5554f, #f5554f9e);
}

.copyright-text {
    position: absolute;
    margin-top: calc(-50px - 0.2vw);
    transform: rotate(-2deg);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact {
    max-width: 700px;
    margin: auto;
    border: 2px solid #f5554f;
    border-radius: 6px;
    text-align: center;
    padding: 2em;
    margin-bottom: 35px;
    margin-top: 100px;
}

.contact h2 {
    font-size: 2.2em;
    line-height: 36px;
}

.content p {
    margin-bottom: 1em;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    line-height: 26px;
}

.button-contact {
    color: #fff9f9;
    background-color: #f5554f;
    z-index: 5000;
}

.button-contact:hover {
    cursor: pointer;
    color: #fff !important;
}

.button-module {
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px;
    padding: .3em .8em;
    border: 2px solid transparent;
    border-radius: 6px;
}

.mb-200 {
    margin-bottom: 150px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-20 {
    margin-top: 30px;
}

.portfolio-divider {
    margin-top: 150px;
}

.portfolio-divider-badge {
    margin-top: 80px;
}


.contact-social-bg i {
    font-size: 36px;
    color: #f5554f;
    display: inline;
    vertical-align: sub;
}

.contact-social-bg p {
    font-size: 16px;
    display: inline;
    margin-left: 15px;
}

.contact-social-bg {
    display: inline;
    text-align: center;
}

.project-info-card {
    background-color: #212121;
    position: relative;
    width: 135%;
    margin-left: -100px;
    border-radius: 5px;
    margin-top: 25px;
    box-shadow: 0 10px 30px -15px #212121;
}

.project-info-card-left {
    background-color: #212121;
    position: relative;
    z-index: 500;
    width: 135%;
    border-radius: 5px;
    margin-top: 25px;
    box-shadow: 0 10px 30px -15px #212121;
}

.work-text {
    text-align: right;
}

.work-text h3 {
    color: #f5554f !important;
}

.tags {
    margin-top: 20px;
}

.tags code {
    color: #a3a3a3;
    font-weight: 800;
    font-size: 14px;
    padding: 0px 4px;
}

.text-left h3 {
    color: #f5554f !important;
}

.github a { 
    color: #fff;
    border-bottom: solid #f5554f 2px;
    padding-bottom: 4px;
}

.github span {
    border-bottom: solid #f5554f 2px;
    padding-bottom: 4px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 26px;
  color: #000;
  font-weight: 800;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 26px;
  color: #000;
  font-weight: 800;
}

.carousel-indicators li {
  background-color: #000;
}

.portfolio--button {
    background-color: #212121;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    box-shadow: 0 10px 30px -15px #212121;
}

.no--demo {
    color: #878787;
}

.no--demo:hover {
    color: #969696;
}

/*               */
/*  Mobile Only  */
/*               */

@media only screen and (max-width: 768px) {
    .contact-social-bg {
        text-align: start;
        margin-left: 150px;
    }

    footer {
        margin-top: 100px;
    }

    .work-text {
        text-align: left;
        margin-left: 20px;
    }

    .project-info-card {
        width: 100%;
        margin-left: 0px;
    }

    .project-info-card-left {
        width: 100%;
    }

    .left-margin--mobile {
        margin-left: 20px;
    }

    .mt--mobile {
        margin-top: 20px;
    }

    .if--mobile-left {
        text-align: left !important;
    }
}
